<div class="container">

 <% @teams.each do |team| %>
  <p><%= team.name %></p>
  <% team.members.each do |mem| %>
    <p><%= mem.name %></p>
    <% mem.qas.each do |qa| %>
      <p><%= qa.title %></p>
    <% end %>
  <% end %>
<% end %>

<p><%= link_to "Printable Version of this report (PDF)", qa_path(@teams, :format => "pdf") %></p>

</div>
