
@media(min-width: 768px)    {
    .member-list    {
        width: 50%;
    }
    .modal {
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

html, body  {
    font-family: Roboto;
    font-weight: 300;
    font-size: 10px;
    color: #202859;
    margin: 0;
    padding: 0;
}

p   {
    font-size: 1.6rem;
    font-weight: 400;
}

h1, h2, h3, .progressbar-text {
    font-size: 2.4rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h2  {
    padding: 3rem 0;
    margin: 3rem 0;
    text-align: center;
    border: 1px solid rgba(20,31,72,.15); 
    border-left: 0;
    border-right: 0;
}

header  {
    text-align: center;
    padding: 6rem 0 3rem;
}

input[type="text"]   {
    font-family: Roboto;
    font-size: 1.8rem;
    font-weight: 300;
    width: 100%;
    height: 40px;
    padding-left: 1rem;
    border: 1px solid rgba(20,31,72,.15);
    border-radius: 4px;
    outline: none;
    margin-bottom: 2rem;
    transition: .25s all ease-in-out;
}

input[type="text"]:focus {
    border: 1px solid #fcb034;
}

button {
    font-family: Roboto;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 8px 32px;
    background-color: #202859;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 4px;
}

.flex-parent    {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.column {
    -webkit-flex-flow: column nowrap;
}

.flex-child {
    margin: auto;
    flex: 1;
}

.nav    {
    word-spacing: 3rem;
}

.material-icons  {
    font-size: 3.6rem !important;
    color: rgba(20,31,72,.25)
}

.active {
    color: #202859;
}

.team   {
    margin-bottom: 6rem;
}

.member-list    {
    margin: auto;
}

.member {
    display: inline-block;
}

.member-name, h3    {
    text-align: center;
    margin-top: 2rem;
}

.member-progress  {
    width: 128px;
    height: 128px;
    margin: 2rem auto;
}

.qa-buttons {
}

.qa-buttons button {
    transition: .15s all ease-in-out;
    color: rgba(0,0,0,.25);
    font-size: 2.4rem !important;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 100px;
}

.qa-yes:hover {
    color: #202859;
}

.qa-no:hover  {
    color: #DF2020;
}

.qa-yes:active {
    color: #202859;
    border-color: #202859;
}

.relative {
    position: relative;
}
