<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Report for <%= @user.name %> ending on <%= Time.now.localtime.strftime("%m/%d/%Y") %></h1>
    
  </body>
</html>